# Node & Yarn
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Cypress output
/cypress/downloads/
/cypress/screenshots/
/cypress/videos/

# Cypress cache & config state
/.cache/
/cypress/.cache/

# System files
.DS_Store
Thumbs.db